<div id="cantine">
    <div id="filtres">
        <form action=""  method="post">
            <div class="debutFin">
                <label>
                    <label for="dateDebut">Date de début :</label>
                    <input type="date" name="dateDebut" id="dateDebut" required value='{{dateDebut}}'>
                </label>
                <label>
                    <label for="dateFin">Date de fin :</label>
                    <input type="date" name="dateFin" id="dateFin" required value='{{dateFin}}'>
                </label>
            </div>
            <div>
                <label for="etablissement">Etablissement</label>
                <select name="etablissement">
                    <option value="">Tous</option>
                    {% for key,value in etablissements %}
                        <option value="{{key}}" {{(key == etablissement)?'selected':''}}>{{value}}</option>
                    {% endfor %}
                </select>

            </div>

            <input type="hidden" name="REQUEST_TOKEN" value="{{rt|raw}}"/>
            <input type="hidden" name="FORM_SUBMIT" value="listing">
            <div id="submit"><input type="submit" value="Actualiser"></div>
        </form>
    </div>
    <table id="repasTotaux" class="stripe hover" data-paging="false">
        <thead>
            <tr>
                <th>Ecole</th>
                <th>Classe</th>
                <th>Enfant</th>
                <th>Nombre de repas</th>
                <th>Petit déjeuner</th>
                <th>Déjeuner</th>
                <th>Goûter</th>
            </tr>
        </thead>
        <tbody>
            {% for e in enfants %}
                <tr>
                    <td>{{etablissements[e.etablissement]}}</td>
                    <td>{{classes[e.classe]}}</td>
                    <td>{{e.nom}} {{e.prenom}}</td>
                    <td>{{e.countRepas(dateDebut, dateFin)}}</td>
                    <td>{{e.countMatin(dateDebut, dateFin)}}</td>
                    <td>{{e.countMidi(dateDebut, dateFin)}}</td>
                    <td>{{e.countSoir(dateDebut, dateFin)}}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style="text-align:right;">TOTAL</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
            </tr>
        </tfoot>
    </table>
    <script>
        new DataTable('#repasTotaux', {
    footerCallback: function (row, data, start, end, display) {
        let api = this.api();

        // Remove the formatting to get integer data for summation
        let intVal = function (i) {
            return typeof i === 'string'
                ? i.replace(/[\$,]/g, '') * 1
                : typeof i === 'number'
                ? i
                : 0;
        };

        let repas=api.column(3,{ page: 'current' }).data().reduce((a, b) => intVal(a) + intVal(b), 0),
            matin=api.column(4,{ page: 'current' }).data().reduce((a, b) => intVal(a) + intVal(b), 0),
            midi=api.column(5,{ page: 'current' }).data().reduce((a, b) => intVal(a) + intVal(b), 0),
            soir=api.column(6,{ page: 'current' }).data().reduce((a, b) => intVal(a) + intVal(b), 0);
        // Update footer
        api.column(3).footer().innerHTML = repas;
        api.column(4).footer().innerHTML = matin;
        api.column(5).footer().innerHTML = midi;
        api.column(6).footer().innerHTML = soir;
    }
});
    </script>
</div>
